/* Global styles */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar-dark .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.navbar-dark .navbar-brand:hover {
    color: #f8f9fa;
}

.navbar-dark .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .nav-link:hover {
    color: #6671d9;
}

/* Buttons */
.btn-primary {
    background-color: #1669bced;
    border: none;
}

.btn-primary:hover {
    background-color: #005bb5;
}

.btn-secondary {
    background-color: #343a40;
    border: none;
}

.btn-secondary:hover {
    background-color: #23272b;
}

/* Home Page */
.text-center {
    padding: 3rem 1rem;
}

.display-4 {
    font-weight: 700;
    color: #ffffff;
}

.lead {
    font-size: 1.25rem;
    color: #dcdcdc;
}

/* User List Page*/
.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #ffffff; /* Pastel blue */
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.list-group-item {
    background-color: #1e1e30; 
    border: 1px solid #0f3460;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
}

.list-group-item:hover {
    background-color: #16213e; /* Darker background on hover */
    transform: translateY(-2px); /* Subtle lift effect */
    box-shadow: 0px 4px 10px rgba(163, 196, 243, 0.2); /* Soft pastel glow */
}

.person-link {
    color: #eaeaea; 
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

.person-link:hover {
    color: #f4dc9f; 
    text-decoration: none;
}

.text-center p {
    color: #d1d1e9; 
    font-style: italic;
}
